.mockup-bg-section {
  margin: 0 auto;
  padding: 19px 20px;
  .mockup-bg {
    background: url("../images/images/screen-mockups.svg") no-repeat center
      center/contain;
    width: 300px;
    height: 300px;
  }
}

// .mockup-bg-section-2 {
//   margin: 0 auto;
//   padding: 19px 20px;
//   .mockup-bg {
//     background: url("../images/images/screen-mockups.svg") no-repeat center
//       center/contain;
//     width: 300px;
//     height: 300px;
//   }
// }
