header {
  margin: 0;
  padding: 0;
  width: 100%; }
  header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #eeecec;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 100%; }
    header nav .logo {
      width: 100px; }
      header nav .logo img {
        width: 100%; }
    header nav .try-free-btn h5 {
      margin: 3px;
      padding: 8px 34px;
      border: 2px solid #ff52bf;
      border-radius: 17px; }

.mockup-bg-section {
  margin: 0 auto;
  padding: 19px 20px; }
  .mockup-bg-section .mockup-bg {
    background: url("../images/images/screen-mockups.svg") no-repeat center center/contain;
    width: 300px;
    height: 300px; }

.section-wrapper {
  padding: 50px 20px;
  margin: 0 auto; }
  .section-wrapper .build-hero {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center; }
    .section-wrapper .build-hero h2 {
      font-size: 2.5rem;
      font-weight: 800;
      margin-bottom: 20px; }
    .section-wrapper .build-hero p {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 20px;
      color: #00252e; }
    .section-wrapper .build-hero .get-started-btn {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 1.2rem;
      font-weight: 600;
      border: none;
      cursor: pointer; }
      .section-wrapper .build-hero .get-started-btn h5 {
        background-color: #ff52bf;
        color: #f5faff;
        margin: 3px;
        padding: 18px 34px;
        border-radius: 17px; }

.grow-together-container {
  background: url("../images/images/bg-section-top-mobile-1.svg") no-repeat center top/contain;
  height: 100%; }
  .grow-together-container .grow-together {
    margin-top: 100px; }
    .grow-together-container .grow-together img {
      object-fit: contain;
      height: 200px; }

body {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 120px; }

p {
  font-size: 20px;
  color: red; }

.stats-com-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .stats-com-message .stats {
    padding: 10px 40px; }
    .stats-com-message .stats h1 {
      font-size: 3.8rem;
      margin: 0;
      padding: 0; }
